pipeline/pipeline4.json
{
	"name": "pipeline4",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://reqres.in/api/users?page=2",
					"method": "GET"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(1,activity('Web1').output.total_pages)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['page']"
											},
											"sink": {
												"name": "page"
											}
										},
										{
											"source": {
												"path": "$['per_page']"
											},
											"sink": {
												"name": "per_page"
											}
										},
										{
											"source": {
												"path": "$['total']"
											},
											"sink": {
												"name": "total"
											}
										},
										{
											"source": {
												"path": "$['total_pages']"
											},
											"sink": {
												"name": "total_pages"
											}
										},
										{
											"source": {
												"path": "$['data'][0]['id']"
											},
											"sink": {
												"name": "id"
											}
										},
										{
											"source": {
												"path": "$['data'][0]['email']"
											},
											"sink": {
												"name": "email"
											}
										},
										{
											"source": {
												"path": "$['data'][0]['first_name']"
											},
											"sink": {
												"name": "first_name"
											}
										},
										{
											"source": {
												"path": "$['data'][0]['last_name']"
											},
											"sink": {
												"name": "last_name"
											}
										},
										{
											"source": {
												"path": "$['data'][0]['avatar']"
											},
											"sink": {
												"name": "avatar"
											}
										},
										{
											"source": {
												"path": "$['support']['url']"
											},
											"sink": {
												"name": "url"
											}
										},
										{
											"source": {
												"path": "$['support']['text']"
											},
											"sink": {
												"name": "text"
											}
										}
									],
									"collectionReference": "$['data']"
								}
							},
							"inputs": [
								{
									"referenceName": "RestResource1",
									"type": "DatasetReference",
									"parameters": {
										"Quey": {
											"value": "?page=@{item()}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "api",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "APIPage @{item()}.csv",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}